<div class="productsContainer" (click)="navigateToProduct(product.id)">
    <figure class="productsRelatedImg">
      <img src="{{ product.cover.src }}" alt="imagem" />
    </figure>

    <div class="containerPrice">
      <h2>{{product.name}}</h2>
      <h3>R$ {{ product.price }} à vista</h3>
      <p>{{ product.paymentDetails }}</p>
    </div>

    <div class="containerStore">
      <div class="storeText">
        <mat-icon>store</mat-icon>
        <p>{{ product.origin }}</p>
      </div>

      <div>
        <a
          id="storeBtn"
          mat-raised-button
          href="{{product.link}}"
          target="_blank"
          >Ir para a Loja</a
        >
      </div>
    </div>
</div>
