<div class="productsContainer" (click)="navigateToProduct(123)">
    <figure class="productsRelatedImg">
      <img src="{{ product.img }}" alt="imagem" />
    </figure>

    <div class="containerPrice">
      <h2>R$ {{ product.price }} à vista</h2>
      <p>{{ product.portion }}</p>
    </div>

    <div class="containerStore">
      <div class="storeText">
        <mat-icon>store</mat-icon>
        <p>{{ product.store }}</p>
      </div>

      <div>
        <a
          id="storeBtn"
          mat-raised-button
          href="{{product.link}}"
          target="_blank"
          >Ir para a Loja</a
        >
      </div>
    </div>
</div>