*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#relatedProducts{
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5em;
}

#relatedProductsText{
    color: #000;
    font-size: 1.9rem;
}
