<div class="content">
  <div class="filters-side-bar">
    <!-- <mat-slide-toggle class="slide-toggle">Frete Gratis</mat-slide-toggle> -->

    <div class="brand">
      <h3>Marca</h3>
      <mat-selection-list #brandsSelected [(ngModel)]="filter.brand">
        <mat-list-option *ngFor="let brand of brands" [value]="brand">
          {{ brand }}
        </mat-list-option>
      </mat-selection-list>
    </div>

    <div>
      <h3>Preço</h3>
      <span>Minimo: {{ filter.minPrice }}</span>
      <mat-slider class="slider" min="0" max="15000" step="50" discrete>
        <input matSliderThumb [(ngModel)]="filter.minPrice" />
      </mat-slider>

      <span>Maximo: {{ filter.maxPrice }}</span>
      <mat-slider class="slider" min="0" max="15000" step="50" discrete>
        <input matSliderThumb [(ngModel)]="filter.maxPrice" />
      </mat-slider>
    </div>

    <div class="filter-btn-container" (click)="listProducts()">
      <button class="filter-btn" mat-raised-button color="primary">
        Aplicar filtros
      </button>
    </div>
  </div>

  <div class="result">
    <div>
      <span *ngIf="filter.name">
        <span>Voce buscou por</span>
        <h1>
          <b>{{ filter.name }}</b>
        </h1>
      </span>

      <span *ngIf="filter.category">
        <span>Categoria</span>
        <h1>
          <b>{{ filter.category }}</b>
        </h1>
      </span>
    </div>

    <mat-divider></mat-divider>

    <span>{{ products.length }} resultados</span>
    <div class="products-list-box">
      <app-product-card
        *ngFor="let product of products"
        [product]="product"
      ></app-product-card>
    </div>
  </div>
</div>
