.product-card {
  width: 260px;
  height: 330px;
  display: block;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 12px;
  overflow: hidden;
  padding: 1em;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  height: 224px;
  width: 165px;
}

.img-container img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-content {
  height: 126px;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  max-height: 2.4em;
  overflow: hidden;
  margin-top: 5px;

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33em;
    // color: rgb(102, 102, 102);
  }
}

.card-content.truncate::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  padding: 0 0.5em;
}

.old-price {
  margin-top: 3px;
  font-size: 12px;
  text-decoration: line-through;
  color: rgb(102, 102, 102);
}

.new-price {
  margin-top: 3px;
  margin-left: 3px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.discount-ctn {
  display: flex;
  flex-direction: column;
}