*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#path{
    margin-top: 2em;
    padding: 0 1em;
}


// ************************************************************************
//  Area do Produto

#productArea{
    display: flex;
    padding: 2% 3%;
    gap: 2.5em;
    margin-bottom: 3.5em;
}


#productInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 0 2em;
}


#productInfo h2{
    overflow: visible;
    overflow-wrap: break-word;
    box-sizing: border-box;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: .5em;
    color: #000;
}



#productRating{
    display: flex;
    text-align: center;
    margin-bottom: 2em;
}

.checked {
  color: orange;
}

#productRating p{
    margin-left: .5em;
    font-size: .9rem;
    color: #444;
}



#productPrice{
    display: flex;
    flex-direction: column;
    gap: .3em;
    margin-bottom: 1.5em;
}

#productPrice h3{
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000;
}

#productPrice p{
    font-size: .9rem;
    color: #444;
}



#purchaseBtn {
    background-color: #139721;
    color: #f1f1f1;
    width: 100%;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1.3em 2em;
    text-align: center;
    overflow: visible;
    overflow-wrap: break-word;
}
  
// ************************************************************************
// Detalhes do Produto


#detailsContainer{
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
}

#details{
    display: flex;
    gap: .5em;
}


@media (max-width: 1000px) {
    #productArea{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #details{
        flex-direction: column;
    }
}