<!-- Caminho até o Produto -->

<section id="path">
    <div>
      <app-product-path [product]="product.category"></app-product-path>
    </div>
</section>

<!-- Area da Compra do Produto  -->

<section id="productArea">

  <div>
    <app-purchase-carousel [product]="product"></app-purchase-carousel>
  </div>


  <div id="productInfo">
    <div>
      <h2>{{product.name}}</h2>
      <div id="productRating">
        <p>{{product.reviews.rating}} ({{product.reviews.evaluations}}) Avaliações</p>

        <ng-template #stars let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill"> &#9733;</span>&#9733;
          </span>
        </ng-template>
        
        <ngb-rating
          [(rate)]="product.reviews.rating"
          [starTemplate]="stars"
          [readonly]="true"
          [max]="5"
        ></ngb-rating>
        
      </div>
    </div>

    <div id="productPrice">
      <h3>R$ {{product.price | number:'1.2-2'}}</h3>
      <p>{{product.paymentDetails}}</p>
    </div>

    <div>
      <a
        id="purchaseBtn"
        mat-raised-button
        href="{{product.link}}"
        target="_blank">
        Ir para a Loja
      </a>
    </div>
  </div>
</section>

<!-- Detalhes do Produto -->

<section id="detailsContainer">
  
  
  <div *ngIf="product.description">
      <app-product-info [title]="'Descrição'" [dataSheet]="product.description"></app-product-info>
  </div>
  <div *ngIf="product.datasheet">
        <app-product-info [title]="'Ficha Técnica'" [dataSheet]="product.datasheet"></app-product-info>
  </div>
</section>

<!-- Produtos Relacionados -->

<section>
  <div>
    <app-related-product-list [products]="listProducts"></app-related-product-list>
  </div>
</section>
