<!-- Caminho até o Produto -->

<section id="path">
    <div>
      <app-product-path></app-product-path>
    </div>
</section>

<!-- Area da Compra do Produto  -->

<section id="productArea">

  <div>
    <app-purchase-carousel></app-purchase-carousel>
  </div>


  <div id="productInfo">
    <div>
      <h2>Smart TV LED 50" Samsung Crystal 4K HDR UN50AU7700GXZD</h2>
      <div id="productRating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p>4.0 (800) Avaliações</p>
      </div>
    </div>

    <div id="productPrice">
      <h3>R$ 2.199,00</h3>
      <p>ou 12x de 162,89 com juros</p>
    </div>

    <div>
      <a
        id="purchaseBtn"
        mat-raised-button
        href="https://www.google.com/"
        target="_blank"
        >Ir para a Loja</a
      >
    </div>
  </div>
</section>

<!-- Detalhes do Produto -->

<section>
  <div id="detailsContainer">
    <div>
      <app-product-info [title]="'Descrição'" [information]="loremText"></app-product-info>
    </div>

    <div id="details">
      <div>
        <app-product-info [title]="'Características da Imagem'" [information]="loremText"></app-product-info>
      </div>
      
      <div>
        <app-product-info [title]="'Ficha Técnica'" [information]="loremText"></app-product-info>
      </div>
    </div>
    
  </div>
</section>

<!-- Produtos Relacionados -->

<section>
  <div>
    <app-related-product-list></app-related-product-list>
  </div>
</section>
