<article class="wrapper">
    <section class="infos">
    </section>
    <section class="login">
        <span>Projeto Web</span>
        <h1>Bem-Vindo</h1>
        <div class="login__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="login" id="login" placeholder="Seu login">
                <mat-error class="text--danger"
                    *ngIf="loginFormControl['login'].touched && loginFormControl['login'].hasError('required')">
                    Campo Obrigatório
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" id="password"
                    placeholder="Sua senha">
                <button mat-icon-button matSuffix (click)="changeHideState()" aria-label="Esconder senha"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>

                <mat-error class="text--danger"
                    *ngIf="loginFormControl['password'].touched && loginFormControl['password'].hasError('required')">
                    Campo Obrigatório
                </mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary" [disabled]="!loginForm.valid" (click)="onSubmit()">Log in</button>
        </div>
    </section>
</article>