<div>
  <app-carousel class="carousel"></app-carousel>
</div>

<div class="product-list">
  <h4>Os melhores preços desta semana</h4>
  <app-product-list [products]="weekHighlights"></app-product-list>
</div>

<div class="publicity">
  <app-publicity-card
    *ngFor="let puclicity of ads"
    [publicity]="puclicity"
    (click)="redirecToProducts(puclicity.category)"
  ></app-publicity-card>
</div>

<div class="product-list">
  <h4>Os mais pupulares</h4>
  <app-product-list [products]="popularProducts"></app-product-list>
</div>
