<section id="dialogContent">

    <div mat-dialog-content>
    <share-buttons id="teste" theme="circles-dark"
        [include]="['copy', 'facebook', 'email', 'twitter', 'whatsapp', 'linkedin']"
        [showIcon]="true"
        [showText]="false"
        url=""
        description="Angular Share Buttons"
        class="pt-2">
    </share-buttons>

    </div>

    <div mat-dialog-actions id="closeBtn">
        <button mat-raised-button mat-dialog-close color="warn">Fechar</button>
    </div>
</section>
