*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#dialogContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}


#closeBtn{
    width: 100%;
    border-top: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

#closeBtn button{
    padding: 1em;
    margin: .5em;
    font-weight: 550;
    width: 100%;
}
