.footer{
    background-color: black;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    padding: 2% 15%;
}

.footer .small{
    margin: 0;
}

.footer .small a{
    color: blue;
}