#productImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em .5em;
    width: 100%;
}

img{
    display: block;
}

.mainImage{
    border-radius: .4em;
    padding: .5em 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.imgContainer{
    width: 100%;
    height: auto;
    margin-top: 1em;
    padding: .5em;
}



.imgContainer figure{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid  #ccc;
    padding: 1rem;
    border-radius: .2em;
    margin: .2em;
    transition: all ease-in .08s;
    cursor: pointer;
}


.slider{
    width: 100%;
    height: 4em;
    text-align:center;
    margin-top:1em;
    padding:0;
    cursor: pointer;
}
