<div id="productImg">

    <figure class="mainImage">
      <img src="{{productImg}}" alt="Imagem 1" />
    </figure>

    <!-- <div class="imgContainer">
      <figure class="active" (click)="changeImg(1)">
        <img
          id="1"
          src="https://source.unsplash.com/5WbYFH0kf_8"
          alt="Imagem 1"
        />
      </figure>

      <figure (click)="changeImg(2)">
        <img
          id="2"
          src="https://source.unsplash.com/VgbUxvW3gS4"
          alt="Imagem 2"
        />
      </figure>

      <figure (click)="changeImg(3)">
        <img
          id="3"
          src="https://source.unsplash.com/5WbYFH0kf_8"
          alt="Imagem 3"
        />
      </figure>

      <figure (click)="changeImg(4)">
        <img
          id="4"
          src="https://source.unsplash.com/VgbUxvW3gS4"
          alt="Imagem 4"
        />
      </figure>
    </div> -->
</div>
