<div id="productImg">

    <figure class="mainImage">
      <img src="{{product.cover.src}}" alt="Imagem 1" />
    </figure>

    <div style="width: 100%; height: 4em; text-align:center;margin-top:1em; padding:0; cursor: pointer; ">
      <ng-image-slider #nav
        [imagePopup]="false"
        [images]="carousel"
        [infinite]="true"
        [autoSlide]="0"
        [animationSpeed]=".5"
        [imageSize]="{width: '80px', height: '70px'}"
        slideImage="1">
      </ng-image-slider>
      

    </div>
</div>
