.page-width {
    padding: 0 15%;
    display: block;
}

@media screen and (max-width: 769px) {
    .page-width {
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {
    .page-width {
        padding: 0 5%;
    }
}

