<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-categoria="categoria">
    <div *ngFor="let categoria of categories">
      <button mat-menu-item [matMenuTriggerFor]="subMenu" (click)="redirecToProductsWithCategory(categoria.category)">
        {{ categoria.category }}
      </button>
      <mat-menu #subMenu="matMenu">
        <button
          mat-menu-item
          *ngFor="let subCategory of categoria.subCategories"
          (click)="redirecToProductsWithSubCategory(subCategory)"
        >
          {{ subCategory }}
        </button>
      </mat-menu>
    </div>
  </ng-template>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menu">Categorias</button>
