<div class="navbar">

  <div class="nav-actions-link">
    <span>
      <a mat-button class="category-btn">
        <span>Categorias</span>
        <i class="fa-solid fa-chevron-down"></i>
      </a>
    </span>
    <span>
      <a mat-button class="category-btn">
        <span>Ofertas do Dia</span>
      </a>
    </span>
    <span>
      <a mat-button class="category-btn">
        <span>Histórico</span>
      </a>
    </span>
  </div>

  <span>
    <a mat-button class="category-btn">
      <span>Contate o Suporte</span>
    </a>
  </span>
</div>
